<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav)"/>

  <group ns="$(arg uav_name)">

    <node name="mtsp_planner" pkg="mtsp_planner" type="planner.py" output="screen" args="--ros">

      <rosparam file="$(find mtsp_planner)/config/simulation.yaml" command="load" />

      <!-- Subscribed topics -->
      <remap from="~problem_in" to="mtsp_problem_loader/tsp_problem" />

      <!-- Published topics -->
      <remap from="~trajectory_1_out" to="~trajectory_1" />
      <remap from="~trajectory_2_out" to="~trajectory_2" />

    </node>

  </group>

</launch>
